<!--<div *ngFor="let c of causes">
  <h1>{{c}}</h1>
</div>-->
<h3 class="text-center">Campgaign List</h3>
<div class="row">
  <div class="col-sm-6" *ngFor="let c of causes;let i = index">
    <div class="card">
      <div id="carouselExampleControls{{i}}" data-interval="false" class="carousel slide card">
        <div class="carousel-inner" role="listbox">
          <div *ngFor="let img of c.images; let ii=index" [ngClass]="{'active': ii==0 }" class="carousel-item">
            <div class="carousel-caption d-md-block">
              <h1>{{c.name}}</h1>
            </div>
            <img class="d-block img-fluid" src="{{img}}">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls{{i}}" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls{{i}}" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="card-block">
        <p class="card-text">{{c.description}}</p>
        <a href="#" [routerLink]="['/campDetail',c.campaignId]" class="btn btn-primary">More Information</a>
      </div>
    </div>
  </div>
</div>