<div class="container">
  <nav class="top-nav horizontal noprint">
    <ul id="site-logo-link" class="left">
      <li>
        <a target="_self" href="https://undefined/">
<img id="site-logo" src="https://f.flockusercontent2.com/39e16d914989331303ba0e40_t" class="primary-site-logo" alt="SeedInvest">
</a>
      </li>
    </ul>
    <ul class="left noprint">
      <li class="large-up-show-inline-block">
        <a class="" href="https://www.seedinvest.com/auto" target="_self">Auto Invest</a>
      </li>
      <li class="medium-up-show-inline-block">
        <a href="https://www.seedinvest.com/offerings" target="_self" class="">
<span class="small-up-show-inline">Browse</span> Startups</a>
      </li>
      <li class="large-up-show-inline-block">
        <a href="https://www.seedinvest.com/apply" target="_self" class="">Start Your Raise</a>
      </li>
      <li class="xl-up-show-inline-block">
        <a href="https://www.seedinvest.com/about" target="_self" class="">About Us</a>
      </li>
    </ul>
    <ul class="right noprint ng-scope" ng-if="user.is_anonymous == null || user.is_anonymous">
      <li id="site-nav-login">
        <a href="https://www.seedinvest.com/login&#10;?next=/knightscope/series.m" target="_self">Log In</a>
      </li>
      <li id="site-nav-signup">
        <a id="site-nav-signup-link" href="https://www.seedinvest.com/signup&#10;?next=/knightscope/series.m" target="_self">Sign Up</a>
      </li>
    </ul>
  </nav>
  <div id="site-messages-wrapper" class="noprint">
    <noscript>
    </noscript>
  </div>
  <base href="/">
  <div class="site-content" id="site-content">
    <header class="site-section-header-wrapper page-header border-none test">
      <div class="site-section-header page-header-hgroup">
        <div class="row max-xl animated fadeIn delay">
          <div class="column xs-16 large-9 xl-10 left">
            <div ui-view="hero_media" class="large-up-show ng-scope">
              <div class="overview-file-wrapper video ng-scope" ng-class="{'animated fadeIn loaded-video': loaded}" ng-if="profile.hero_media == 'overview_video' &amp;&amp; profile.overview_video &amp;&amp; profile.overview_video &amp;&amp; profile.overview_video.embed_url">
                <div class="entity-image startup small ng-scope" ng-hide="loaded " ng-if="(profile.hero_media == 'overview_video' &amp;&amp; profile.overview_video &amp;&amp; profile.overview_video &amp;&amp; profile.overview_video.embed_url)">
                  <img ng-src="https://d15lpsnkiz3586.cloudfront.net/companies/i/13970-92fcd8f6118d35190977796014500e15-medium.jpg">
                </div>
                <div si-bind-html="hero_video" ng-click="load_hero_video()">
                  <img class="overview-file ng-scope" src="https://d15lpsnkiz3586.cloudfront.net/companies/i/5814-5d7b0dc8d9dbb8323c830bd940047f31-full-width.jpg">
                </div>
              </div>
            </div>
            <div class="section-content collapse-margin-bottom large-up-show">
              <div class="badges-wrapper profile collapse-margin-bottom">
                <div class="snippet-content collapse-margin-bottom">
                  <p ng-init="limitMarkets=3; limitCity=1">
                    <span class="badge badge-text">Predictive Analytics</span>
                    <span class="badge badge-text">Robotics</span>
                    <span class="badge badge-text">Physical Security</span>
                    <span class="badge badge-text">Mountain View</span>
                  </p>
                </div>
              </div>
              <div class="snippet left collapse-margin-bottom min-height-6">
                <div class="snippet-content collapse-margin-bottom">
                  <p class="xs-copy dark-grey-copy">
                    <span>Website: <a href="http://www.knightscope.com" target="_blank">http://www.knightscope.com</a>
</span>
                  </p>
                </div>
                <div class="snippet-content collapse-margin-bottom">
                  <a class="xs-copy clean dark-grey-copy ng-hide" 
                  tooltip="You must confirm the email address for this SeedInvest account before messaging Knightscope. You can re-send a welcome email with an account confirmation link by clicking the link in the black bar at the bottom of your screen.">
                  Message Knightscope&nbsp;
                
                <span>&nbsp; | &nbsp;</span>
</a>
                  <a class="xs-copy clean dark-grey-copy ng-hide" ng-show="profile.allow_messaging &amp;&amp; user.email_confirmed &amp;&amp; (!profile.messaging_requires_deal_access ||  profile.hasOwnProperty('deal_access') &amp;&amp; profile.deal_access.access_level == 'granted')"
                    ng-click="$root.open_chat_drawer = (!$root.open_chat_drawer &amp;&amp; profile.allow_messaging &amp;&amp; (!profile.messaging_requires_deal_access || profile.hasOwnProperty('deal_access') &amp;&amp; profile.deal_access.access_level == 'granted'))">Message Knightscope&nbsp;
                
                <span>&nbsp; | &nbsp;</span>
</a>
                  <span>
<span class="dark-grey-copy xs-copy">Share: &nbsp;</span>
                  <a href="https://www.facebook.com/dialog/feed?app_id=352908824780178&amp;display=popup&amp;link=https%3A%2F%2Fwww.seedinvest.com%2Fknightscope%2Fseries.m&amp;redirect_uri=https%3A%2F%2Fwww.seedinvest.com%2Fknightscope%2Fseries.m&amp;picture=https%3A%2F%2Fd15lpsnkiz3586.cloudfront.net%2Fuploads%2F2017%2F06%2F19%2F1497912846%2FKIcoverphoto.jpg"
                    onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                    <svg class="facebook icon icon-facebook small-copy" viewBox="0 0 20 20">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.seedinvest.com/knightscope/series.m#icon-facebook">
                      </use>
                    </svg>
                  </a>
                  <a href="https://twitter.com/share?url=https%3A%2F%2Fwww.seedinvest.com%2Fknightscope%2Fseries.m&amp;via=SeedInvest&amp;related=SeedInvest.com"
                    onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                    <svg class="icon small-copy icon-twitter twitter" viewBox="0 0 20 20">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.seedinvest.com/knightscope/series.m#icon-twitter">
                      </use>
                    </svg>
                  </a>
                  <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.seedinvest.com%2Fknightscope%2Fseries.m&amp;title=Knightscope"
                    onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                    <svg class="icon small-copy icon-linkedin linkedin" viewBox="0 0 20 20">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.seedinvest.com/knightscope/series.m#icon-linkedin">
                      </use>
                    </svg>
                  </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="column xs-16 large-6 xl-5 right">
            <h1 class="page-title" itemprop="name">
              <span>{{campaignDetail.title}} </span>
            </h1>
            <p class="page-subtitle">
              {{campaignDetail.shortDesc}}

              <br> - Sandy Springs, GA
              <br> - 10 July 2017 to 10 August 2017
            </p>

            <div ui-view="above_the_fold" class="animated fadeIn ng-scope">
              <ul class="page-highlights no-bullet-list inline-list tight-list ng-scope" ng-if="profile.investability.action == 'invest' || profile.investability.action == 'show_oversubscribed_warning' || profile.investability.action == 'quiz_and_invest' || !profile.investability.action || profile.investability.reason == 'anonymous' || profile.offering_type.is_regcf || profile.investability.action == 'show_investment_summary' || profile.investability.action == 'invest_interest' || profile.investability.action == 'reserve' || profile.investability.action == 'show_reservation_summary' || profile.investability.action == 'submit_reservation' || profile.investability.action == 'confirm_investment'">

                <li ng-if="profile.share_price &amp;&amp; profile.offering_type.is_rega_plus" class="ng-binding ng-scope">
                  $10.00 <br>
                  <span class="label">per unit</span>
                </li>
                <li ng-if="profile.funding_round.security_type &amp;&amp; (profile.funding_round.security_type == 'Common Equity' || profile.funding_round.security_type == 'Preferred Equity') &amp;&amp; profile.funding_round.pre_money_valuation &amp;&amp; !(check_int(profile.funding_round.investment_count) > 500)"
                  class="ng-scope">
                  <span ng-if="check_int(profile.funding_round.pre_money_valuation)" class="ng-binding ng-scope">$2999 <br>
<span class="tooltip-link label" tooltip-placement="bottom-left" tooltip-html-unsafe="The valuation of the issuer prior to investments resulting from this offering.">Target amount</span>
                  </span>
                </li>

                <li ng-if="profile.funding_round.security_type &amp;&amp; !check_int(profile.funding_round.investment_total)" class="ng-scope">

                  <span ng-if="profile.funding_round.security_type == 'Preferred Equity'" class="ng-binding ng-scope">$99<br>
<span class="label tooltip-link" tooltip-placement="bottom-left" tooltip-html-unsafe="Equity issued to outside investors and carries rights and conditions that are different from that of common stock. For example, preferred equity may include rights that prevent or minimize the effects of dilution or grants special privileges in situations when the company is sold.">Collected so far</span>
                  </span>
                </li>
              </ul>
              <div class="btn-bar large-up-show ng-scope">
                <a href="https://www.seedinvest.com/signup?next=/i/knightscope/6721/invest&amp;intent=invest in deal" target="_self" tooltip=""
                  tooltip-placement="" si-bind-html="bindHtml" ng-show="show" id="invest-btn" class="btn blue large filled left ng-isolate-scope expand"
                  ng-disabled="vanityname == 'kylieai'" invest="" invest-deal="{id: profile.deal_id, slug: slug, company_name: profile.company_name, company_vanityname: vanityname, offering_type: profile.offering_type.name, deal_access: profile.deal_access, days_left: launch_date, show_days: profile.show_days_left, is_oversubscribed: profile.is_oversubscribed, is_regcf_oversubscribed: profile.is_regcf_oversubscribed }"
                  invest-investability="profile.investability" invest-investments="investments" invest-reservations="reservations"
                  ng-class="{'expand': profile.is_oversubscribed || !launch_date || !(profile.investability.action == 'invest' || profile.investability.action == 'show_oversubscribed_warning' || profile.investability.action == 'quiz_and_invest' || profile.investability.action == 'reserve' || profile.investability.reason == 'anonymous' || profile.investability.action == 'indicate_interest' || profile.investability.action == 'invest_interest' || profile.investability.action == 'update_indicated_interest') || !profile.show_days_left}">
<span class="btn-text ng-scope">Donate</span>
</a>
              </div>
              <span class="large-up-hide ng-scope">
  <div class="btn-bar">
    <a href="https://www.seedinvest.com/signup?next=/i/knightscope/6721/invest&amp;intent=invest in deal" target="_self" tooltip="" tooltip-placement="" si-bind-html="bindHtml" ng-show="show" class="btn blue expand large filled ng-isolate-scope" ng-disabled="vanityname == 'kylieai'" invest="" invest-deal="{id: profile.deal_id, slug: slug, company_name: profile.company_name, company_vanityname: vanityname, offering_type: profile.offering_type.name, deal_access: profile.deal_access, days_left: launch_date, show_days: profile.show_days_left, is_oversubscribed: profile.is_oversubscribed, is_regcf_oversubscribed: profile.is_regcf_oversubscribed }" invest-investability="profile.investability" invest-investments="investments" invest-reservations="reservations" id="invest-btn">
<span class="btn-text ng-scope">Sign up to Invest</span>
              </a>
            </div>
            </span>

            <div class="snippet ng-scope">
              <div class="snippet-content">
                <footer>
                  <p class="grey-copy ng-scope"
                   ng-if="!profile.is_oversubscribed &amp;&amp; profile.investability.action != 'reserve' &amp;&amp; profile.investability.action != 'indicate_interest'">
                    <span class="blue-copy sbold-copy">1 or 2 lines about donate button</span> from there we may give option
                    to go to the video of journey with coloring</p>
                </footer>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </header>
  <div class="site-section-content">
    <div class="site-sub-section-content">
      <div class="page-content-wrapper">
        <div class="page-content">
          <section class="row white">
            <div class="section-content collapse-margin">
              <div class="row max-xl">
                <div class="column xs-16">
                  <div class="section-content collapse-margin">
                    <footer class="site-section-footer collapse-margin">
                      <p class="grey-copy">
                        Campaign / NGO description goes here...
                      </p>
                    </footer>
                  </div>
                </div>
              </div>
            </div>

          </section>
        </div>
      </div>
    </div>
  </div>
</div>
</div>